body {
    margin: 0;
    font-family: system-ui, sans-serif;
    border: 5px solid #1e1e1e;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: rgb(255, 255, 255);
    font-family: "Hack", monospace;
    font-size: 1.25rem;

    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #1e1e1e;
    border-bottom: 5px solid #bcbcbc
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.windows{
    display:flex;
    gap:20px;
    padding:20px;
}

.skinWindow{
    width:320px;
    height:420px;
    background:#2a2a2a;
    display:flex;
    align-items:center;
    justify-content:center;
}

.editorWindow{
    flex:1;
    background:#f2f2f2;
    min-height:420px;
}

#skin_container{
    width:300px;
    height:400px;
}